<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Content Manager</title>
    <!-- <link href="/config.cms.yml" type="text/yaml" rel="cms-config-url" /> -->
  </head>
  <body data-pagefind-ignore>

  </body>
</html>
<script>
  import CMS, { init } from '@sveltia/cms';
  init();
</script>