<footer>
    <p>© {new Date().getFullYear()} Marco Romeny</p>
</footer>
<style>
    @reference "@styles/global.css";
    footer {
        @apply w-full p-4 ;
        @apply text-center text-xs text-white hover:text-green-800 no-underline text-shadow-[0_0_3px_white];
    }
</style>