---
import { ClientRouter } from "astro:transitions";
import { Image } from "astro:assets";
import Header from "@src/components/Header.astro";
import Footer from "@src/components/Footer.astro";
import "@styles/global.css";

interface Props {
  title: string;
  description?: string;
  image?: string;
  classes?: string;
  frontmatter?: Record<string, unknown>;
}

let { title, description, image, frontmatter, classes = '', ...props } = Astro.props;
title =
  title ||
  (typeof frontmatter?.title === "string" ? frontmatter.title : undefined) ||
  "Untitled";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/smile.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <slot name="head" />
	{description ? <meta name="description" content={description} /> : null}
	<ClientRouter />
  </head>
  <body>
	<Header site_name="Marco Romeny" />
	<main class={classes}><slot /></main>
	<Footer />
  </body>
</html>

<style>
  @reference "@styles/global.css";
  html,
  body {
    @apply m-0 p-0 w-full h-full bg-green-950 text-white text-base leading-normal;
	@apply font-mono text-green-200 md:text-lg;
  }
  body {
	@apply grid grid-rows-[auto_1fr_auto];
	header, main, footer {
		@apply p-4;
	}
  }
</style>
